*{
box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.title{
    font-size: 40px;
    line-height: 42px;
    margin-bottom: 15px;
    padding-top: 113px;
    
}
.description{
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    margin-bottom: 42px;
}
.link{
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
    background-color: #fff;
    padding: 9px 10px 13px 42px;
    border-radius: 14px;
    position: relative;
}
.link::before{
    content: "";
    position: absolute;
    background-color: #000;
    width: 32px;
    height: 32px;
    border-radius:50%;
    top: 5px;
    left: 5px;
}



.header__top-inner{
    max-width: 1200px;
    height: 90px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 32px;
}
.menu{
    margin-left: auto;
}
.menu__list{
    list-style: none;
    display: flex;
}
.menu__list-item{
    margin-right: 32px;
}
.menu__list-link{
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}
.order{
    text-decoration: none;
    background-color: #fff;
    padding: 11px 20px;
    border-radius: 14px;
    color: #000;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    margin-right: 20px;
}
.header__content{
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
}
.header__text{
    padding-top: 446px;
    padding-bottom: 4px;
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.header__pretext{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-top: 20px;
}
.header__title{
    font-size: 54px;
    line-height: 59px;
}
.header__description{
    width: 580px;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin: 18px 10px 10px 10px;
    text-align: center;

}
.photo__details{
    text-align: right;
    margin-right: 40px;
    padding-bottom: 40px;
}

.details__item{
    display: inline-flex;
}
.details__item+.details__item{
    margin-left: 16px;
}
.details__item-image{
    margin-right: 6px;
}

.specialization__inner{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.specialization__inner{
    padding-bottom: 100px;
}
.specialization__item:nth-of-type(even){
    margin-left: 16px;
    
}
.specialization__item:nth-of-type(odd){
    margin-bottom: 16px;
    
}
.specialization__item{
    display: inline-block;
    max-width: 576px;
    position: relative;
    text-align: left;
    
  
}

.specialization__item-text{
    width: 500px;
    padding-left: 30px;
    position: absolute;
    bottom: 40px;
    left:;
    
}
.specialization__item-title{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.specialization__item-description{
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 17px;
}

.mountain__inner{
    background-image: url(../images/mountain-bg.jpg);
    background-repeat: no-repeat;
}
.monstera__inner{
    background-image: url(../images/monstera-bg.jpg);
    background-repeat: no-repeat;
}
.clients__inner{
    text-align: center;
}
.clients__logo{
    margin: 40px auto 100px auto;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1168px;
}

.himalayas__inner{
    background-image: url(../images/himalayas-bg.jpg);
    background-repeat: no-repeat;
}
.picture__text{
    margin-right: 83px;
    margin-left: auto;
    max-width: 300px;
    padding-top: 257px;
    padding-bottom: 204px;
    
}
.picture__title{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.picture__description{
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.monstera__text{
    padding-bottom: 199px;
}
.himalayas__text{
    padding-top: 250px;
    padding-bottom: 194px;
}
.tools__inner{
    background-image: url(../images/tools-bg.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.tools__text{
    padding-top: 161px;
    padding-bottom: 106px;
    margin-left: 100px;
    margin-right: auto;
    max-width: 514px;
}
.tools__pre-title{
    color: #C0C0C0;
    margin-bottom: 6px;
}
.tools__title{
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 14px;
}
.tools_description{
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.tools__link{
    background-color: #fff;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
}
.contact__text{
    max-width: 570px;
    padding-top: 120px;
    padding-bottom: 108px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.footer__inner{
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1168px;
}
.footer__menu{
    display: flex;
    justify-content: space-between;
    border-bottom: solid #fff 2px;
}
.footer__list{
    list-style: none;
    margin-bottom: 36px;
}
.footer__list-title{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 10px;

}
.footer__list-link{
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.footer__list-item{
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.pages{
    margin-left: 55px;
    margin-right: 102px;
}

.business-areas{
    margin-left: auto;
}
.footer__logo-description{
    margin-top: 20px;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0
}
.footer__newsletter{
    display: flex;
    justify-content: space-between;
    border-bottom: solid #fff 2px;
    padding-top: 36px;  
}
.footer__text-title{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.footer__text-description{
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 36px;
}
.footer__copy{
    padding-top: 56px;
    display: flex;
    justify-content: space-between;
    
}
.footer__copy-text{
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.footer__social-item{
    margin-left: 20px;
}
.footer__subscribe{
   position: relative;
}
.footer__subscribe-email{
    padding: 7px;
    padding-right: 85px;
    height: 52px;
    width: 458px;
    background-color: #fff;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    
}
.footer__subscribe-submit{
    height: 30px;
    width: 64px;
    background: #000;
    border-radius: 11px;
    position: absolute;
    right: 10px;
    top: 11px;
    cursor: pointer;
    color: #fff;
}