*{
box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.header__top-inner{
    max-width: 1200px;
    height: 90px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 32px;
}
.menu{
    margin-left: auto;
}
.menu__list{
    list-style: none;
    display: flex;
}
.menu__list-item{
    margin-right: 32px;
}
.menu__list-link{
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}
.order{
    text-decoration: none;
    background-color: #fff;
    padding: 11px 20px;
    border-radius: 14px;
    color: #000;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    margin-right: 20px;
}
.header__content{
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
}
.header__text{
    padding-top: 446px;
    padding-bottom: 4px;
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.header__pretext{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-top: 20px;
}
.header__title{
    font-size: 54px;
    line-height: 59px;
}
.header__description{
    width: 580px;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin: 18px 10px 10px 10px;
    text-align: center;

}
.photo__details{
    text-align: right;
    margin-right: 40px;
    padding-bottom: 40px;
}

.details__item{
    display: inline-flex;
}
.details__item+.details__item{
    margin-left: 16px;
}
.details__item-image{
    margin-right: 6px;
}
/*
.specialization__inner{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    padding-bottom: 100px;
    text-align: center;
}
.specialization__text{
    
}*/
.title{
    font-size: 40px;
    line-height: 42px;
    margin-bottom: 15px;
    padding-top: 113px;
    
}
.description{
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    margin-bottom: 42px;
}/*
.specialization__items{
    
}
.specialization__item{
    border: solid red 1px;
    display: inline-block;
    max-width: 576px;
    
  
}
.specialization__item-1{
    background-image: url(../images/spec-item-1.jpg);
    background-repeat: no-repeat;
    background-position: top right;
}
.specialization__item-2{
    background-image: url(../images/spec-item-2.jpg);
    background-repeat: no-repeat;
}
.specialization__item-3{
    background-image: url(../images/spec-item-3.jpg);
    background-repeat: no-repeat;
}
.specialization__item-4{
    background-image: url(../images/spec-item-4.jpg);
    background-repeat: no-repeat;
}
.specialization__item-text{
    width: 500px;
    padding-left: 30px;
    padding-top: 421px;
    padding-bottom: 30px;
    
}
.specialization__item-title{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.specialization__item-description{
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
*/
.mountain__inner{
    background-image: url(../images/mountain-bg.jpg);
    background-repeat: no-repeat;
}
.monstera__inner{
    background-image: url(../images/monstera-bg.jpg);
    background-repeat: no-repeat;
}
.clients__inner{
    text-align: center;
}
.clients__logo{
    margin: 40px auto 100px auto;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1168px;
}

.himalayas__inner{
    background-image: url(../images/himalayas-bg.jpg);
    background-repeat: no-repeat;
}
.picture__text{
    margin-right: 81px;
    margin-left: auto;
    max-width: 300px;
    padding-top: 260px;
    padding-bottom: 204px;
    
}
.picture__title{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.picture__description{
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
